@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root
{
    height: 100%;
    /* overflow: hidden; */
}

.wrapper
{
    display: grid;
    grid-template-columns: [header-start] 18em [header-end main-start] 1fr [main-end];
    grid-template-rows: [other-start] 1fr [other-end footer-start] 5.5em [footer-end];
    height: 100%;
}

header
{
    grid-column: header;
    grid-row: other;
    /* background-color: aliceblue; */
}

main
{
    grid-column: main;
    grid-row: other;
    /* background-color: beige; */
    overflow-y: auto;
}

footer
{
    grid-column: 1 / -1;
    grid-row: footer;
    background-color: rgb(130, 184, 185);
}

::-webkit-scrollbar 
{
    width: .4em;
}

::-webkit-scrollbar-track
{
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100vw;
}

nav
{
    scrollbar-gutter: stable;
}